<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>


<div class="alert" style="background: antiquewhite;margin: 10px;">
  <p>1. Định nghĩa các hành động để diễn đạt các sự kiện. (counter.action.ts)</p>
  <p>2. Định nghĩa phương thức reducer để quản lý trạng thái (counter.reducer.ts)</p>
  <p>3. Đặt vào trong file module</p>
  <p>4. Inject store vào component cần dùng để dispatch các hành động</p>
</div>
